apiVersion: v2
name: {{ .ServiceName }}
description: A Helm chart for {{ .ServiceName }}
type: application
version: 0.1.0
appVersion: "1.0.0"

keywords:
  - {{ .ServiceName }}
  - microservice
  - {{ .Stack }}

maintainers:
  - name: MCP-Fulfillment
    email: fulfillment@vertikon.com